<main>
  <section>
    <p>
      <label>
        <input type="text" name="name" placeholder="キーワードを入力する">
        <p><button>検索する</button></p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1saCuPWVrI9bx1tfiavicKWdsnmrPk2Y&ehbc=2E312F&noprof=1" class="maps"></iframe>
      </label>
    </p>
  </section>
  <section>
    <h2>おすすめのお出かけスポット</h2>
    <h3>新宿御苑</h3>
    <p>東京都新宿区内藤町１１</p>
    <p>大名屋敷跡に作られた公園。144 エーカー（約 58 万平方メートル）の敷地内に、さまざまな庭園エリア、芝生の広場、温室がある。</p>
  </section>
  <section>
    <h2>NO FENCE LIFEとは</h2>
    <p>障がいを持った人でも、快適にお出掛け出来る社会を目指して開設した<em>お出かけポータブルサイト</em>です。東京２３区の情報をまとめています。</p>
  </section>
</main>
