/*
 *= require responsive
 */
/* ヘッダー */
header {
  background-color: blue;
  color: white;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  padding-top: 17px;
}

/* メインコンテンツ */
main {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.maps {
  width: 850px;
  height: 450px;
}

.explanation {
  margin:auto
}

/* フッター */
footer {
  background-color: blue;
  color: white;
  padding: 1px;
  display: flex;
  justify-content: center;
}
